.text-platzi {
    color: #97c93e !important
}

#footer {
    background: linear-gradient(90deg, #1c3643, #273b47 25%, #1e5372);
    padding: 1.5rem .5rem;
}

#footer a {
    color: white
}

#footer a:hover {
    cursor: pointer;
}
#footer__container{
    color: white;
}
#header {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    transition: background-color 0.2s ease;
    background-color: transparent;
}
#header img {
    width: 60px
}

.navbar-fixed-top.scrolled {
    background-color: #8e0000 !important;
    transition: background-color 200ms linear;
  }

  #header .navbar-nav .nav-item .nav-link {
    font-weight: 700;
    font-size: 0.9rem;
    padding: 0.75rem 0;
  }
  #header .navbar-nav .nav-item .nav-link.active {
    color: #fff !important; 
  }
   @media (min-width: 992px) {

    #header .navbar-nav .nav-item .nav-link {
      color: rgba(255, 255, 255, 0.7);
      padding: 0 1rem;
    }
    #header .navbar-nav .nav-item .nav-link:hover {
      color: #fff;
    }
    #header .navbar-nav .nav-item:last-child .nav-link {
      padding-right: 0;
    }

  } 

#main .carousel-inner img {
    max-height: 82vh;
    object-fit: cover;
    filter: grayscale(40%)
} 

#carousel .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
}

#carousel .overlay .container,
#carousel .overlay .row {
    height: 100%;
} 

.btn-platzi {
    background-color: #97c93e;
    color: white
}

.btn-platzi:hover {
    background-color: #82ad36
}

#placetime img {
    max-width: 100%;
}

#placetime {
    background-color: #353A40;
    color: white;
}
.top__container{
    background-color: blue;
    margin-right: 10px;
    margin-left: 10px;
}
.top__img{
    width: 100%;
    height: 320px;
}
.img__ejes{
    width: 110%;
    height: 100%;
}
#img__help{
    height: 105%;
}

.card-img-top{
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
.img-card-gen{
    height: 50%;
    background-color: #f9f5f5;
    overflow: hidden;
}
#auspiciadores .img-card-gen{
    height: 70%;
}
