.text-platzi {
    color: #97c93e !important
}

#footer {
    background: linear-gradient(90deg, #1c3643, #273b47 25%, #1e5372);
    padding: 1.5rem .5rem;
}

#footer a {
    color: white
}

#footer a:hover {
    cursor: pointer;
}
#footer__container{
    color: white;
}

#header img {
    width: 80px
}
#main .carousel-inner img {
    max-height: 70vh;
    object-fit: cover;
    filter: grayscale(40%)
}

#carousel {
    position: relative;
    margin: 10px 10px 10px 10px;
}

#carousel .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
}

#carousel .overlay .container,
#carousel .overlay .row {
    height: 100%;
}

.btn-platzi {
    background-color: #97c93e;
    color: white
}

.btn-platzi:hover {
    background-color: #82ad36
}

#placetime img {
    max-width: 100%;
}

#placetime {
    background-color: #353A40;
    color: white;
}
.top__container{
    background-color: blue;
    margin-right: 10px;
    margin-left: 10px;
}
.top__img{
    width: 100%;
    height: 320px;
}
.img__ejes{
    width: 110%;
    height: 100%;
}
#img__help{
    height: 105%;
}

.card-img-top{
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
.img-card-gen{
    height: 50%;
    background-color: #f9f5f5;
    overflow: hidden;
}
#auspiciadores .img-card-gen{
    height: 70%;
}
